In [14]:
import pandas as pd
df= pd.read_excel("data/dead_conso-3-54-65.xlsx")
df_2 = df

In [5]:
df_1 = pd.read_csv('data/laclon.csv')

In [3]:

df_2["AccProv"].unique()

array(['อุดรธานี', 'ศรีสะเกษ', 'ชลบุรี', 'ขอนแก่น', 'นครศรีธรรมราช',
       'ลพบุรี', 'อุบลราชธานี', 'สมุทรปราการ', 'นครสวรรค์', 'ยะลา',
       'ตรัง', 'ยโสธร', 'นครพนม', 'สิงห์บุรี', 'สงขลา', 'นครปฐม',
       'นครราชสีมา', 'เชียงใหม่', 'สุราษฎร์ธานี', 'ชุมพร', 'ฉะเชิงเทรา',
       'ลำปาง', 'สระแก้ว', 'สตูล', 'พิษณุโลก', 'กาฬสินธุ์', 'ระยอง',
       'สกลนคร', 'ปราจีนบุรี', 'ประจวบคีรีขันธ์', 'นราธิวาส', 'ชัยนาท',
       'เลย', 'เชียงราย', 'ตราด', 'กำแพงเพชร', 'ร้อยเอ็ด', 'เพชรบูรณ์',
       'นนทบุรี', 'พะเยา', 'สุรินทร์', 'บุรีรัมย์', 'หนองคาย', 'ปัตตานี',
       'ราชบุรี', 'สระบุรี', 'สุพรรณบุรี', 'ชัยภูมิ', 'บึงกาฬ', 'แพร่',
       'มหาสารคาม', 'ลำพูน', 'อ่างทอง', 'พังงา', 'กระบี่', 'กาญจนบุรี',
       'อุทัยธานี', 'เพชรบุรี', 'หนองบัวลำภู', 'อุตรดิตถ์', 'พิจิตร',
       'จันทบุรี', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ภูเก็ต',
       'อำนาจเจริญ', 'พัทลุง', 'น่าน', 'นครนายก', 'มุกดาหาร', 'ปทุมธานี',
       'สมุทรสงคราม', 'ระนอง', 'สุโขทัย', 'แม่ฮ่องสอน', 'ตาก',
       'สมุทรสาคร', 'ไม่ทราบจังหวัด'], dtype=object)

In [6]:
df_1['ชื่อ'].unique()

array(['กรุงเทพมหานคร', 'กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร',
       'ขอนแก่น', 'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ',
       'ชุมพร', 'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นคราชสีมา', 'นครสวรรค์', 'นครศรีธรรมราช',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี',
       'บึงกาฬ'], dtype=object)

In [10]:
for x in [i for i in df_1['ชื่อ'].unique()]:
    if x not in [j for j in df['AccProv'].unique()]:
        print(x)

นคราชสีมา

In [17]:
df_1.groupby(["ชื่อ",'lac','lon'])
df_1

             ชื่อ        lac         lon
0   กรุงเทพมหานคร  13.727896  100.524123
1          กระบี่   8.086300   98.906283
2       กาญจนบุรี  14.022780   99.532811
3       กาฬสินธุ์  16.431408  103.505876
4       กำแพงเพชร  16.482780   99.522662
..            ...        ...         ...
72       อุดรธานี  17.413841  102.787233
73      อุตรดิตถ์  17.620089  100.099294
74      อุทัยธานี  15.383500  100.024553
75    อุบลราชธานี  15.228686  104.856422
76         บึงกาฬ  18.360910  103.646446

[77 rows x 3 columns]

In [15]:
df_2['AccProv'] = df_2['AccProv'].replace('ไม่ทราบจังหวัด','กรุงเทพมหานคร')

In [16]:
df_2.groupby(["AccProv"]).size().reset_index(name='counts')

          AccProv  counts
0          กระบี่    1964
1   กรุงเทพมหานคร    9914
2       กาญจนบุรี    3597
3       กาฬสินธุ์    2841
4       กำแพงเพชร    2870
..            ...     ...
72       เพชรบุรี    2296
73      เพชรบูรณ์    4090
74            เลย    2371
75           แพร่    1675
76     แม่ฮ่องสอน     495

[77 rows x 2 columns]