In [1]:
import pandas as pd
df= pd.read_excel("data/dead_conso-3-54-65.xlsx")
df

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,NationalityId,Tumbol,District,Province,RiskHelmet,...,DeadDate,DateRec,Time Rec,AccSubDist,AccDist,AccProv,AccLat,AccLong,ICD-10,Vehicle
0,8600677,2554,2011,72.0,1.0,99,วังหลวง,กิ่ง อ.เฝ้าไร่,นค,NaN,...,2554-07-13 00:00:00,2554-07-12 00:00:00,1900-01-01 16:34:00,หนองหลวง,กิ่ง อ.เฝ้าไร่,อุดรธานี,18.020541,103.187171,V031,คนเดินเท้า
1,8600520,2554,2011,17.0,1.0,99,ภูฝ้าย,ขุนหาญ,ศก,NaN,...,2554-01-22 00:00:00,2554-01-20 00:00:00,1900-01-01 22:00:00,เมืองใต้,เมืองศรีสะเกษ,ศรีสะเกษ,15.117497,104.327475,V294,รถจักรยานยนต์
2,8600600,2554,2011,44.0,1.0,99,คลองเตย,คลองเตย,กท,NaN,...,2554-06-01 00:00:00,2554-05-29 00:00:00,1900-01-01 18:00:00,สุรศักดิ์,ศรีราชา,ชลบุรี,NaN,NaN,V299,รถจักรยานยนต์
3,8600625,2554,2011,43.0,1.0,99,วัดสุวรรณ,บ่อทอง,ชบ,NaN,...,2554-01-19 00:00:00,2554-01-18 00:00:00,1900-01-01 21:40:00,บ่อวิน,ศรีราชา,ชลบุรี,NaN,NaN,V892,ไม่ระบุพาหนะ
4,8600681,2554,2011,35.0,1.0,99,เหล่าต่างคำ,โพนพิสัย,นค,NaN,...,2554-08-16 00:00:00,2554-07-29 00:00:00,1900-01-01 23:16:00,ช่องสามหมอ,แก้งคร้อ,ขอนแก่น,16.122191,102.220463,V892,ไม่ระบุพาหนะ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238394,1072503,2565,2022,20.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-04-05 00:00:00,NaN,NaT,NaN,NaN,ลำพูน,18.404682,98.724158,Y349,ไม่ระบุพาหนะ
238395,1076343,2565,2022,66.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-07-20 00:00:00,NaN,NaT,NaN,NaN,ฉะเชิงเทรา,13.692206,101.073257,V892,รถบรรทุกขนาดเล็ก/รถตู้
238396,1078903,2565,2022,70.0,2.0,NaN,NaN,NaN,NaN,NaN,...,2565-04-05 00:00:00,NaN,NaT,NaN,NaN,มหาสารคาม,16.122524,103.253255,V892,รถจักรยานยนต์
238397,1082487,2565,2022,65.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-05-10 00:00:00,NaN,NaT,NaN,NaN,พังงา,8.515615,98.287358,Y349,รถจักรยานยนต์
238398,1078648,2565,2022,71.0,1.0,NaN,NaN,NaN,NaN,NaN,...,2565-07-03 00:00:00,NaN,NaT,NaN,NaN,เลย,17.727573,101.716185,V892,ไม่ระบุพาหนะ