In [1]:
import pandas as pd
df= pd.read_excel("data/dead_conso-3-54-65.xlsx",usecols=['DEAD_YEAR(Budha)','Sex','Vehicle','Age','DeadDate','AccProv'])
df

,DEAD_YEAR(Budha),Age,Sex,DeadDate,AccProv,Vehicle
0,2554,72.0,1.0,2554-07-13 00:00:00,อุดรธานี,คนเดินเท้า
1,2554,17.0,1.0,2554-01-22 00:00:00,ศรีสะเกษ,รถจักรยานยนต์
2,2554,44.0,1.0,2554-06-01 00:00:00,ชลบุรี,รถจักรยานยนต์
3,2554,43.0,1.0,2554-01-19 00:00:00,ชลบุรี,ไม่ระบุพาหนะ
4,2554,35.0,1.0,2554-08-16 00:00:00,ขอนแก่น,ไม่ระบุพาหนะ
...,...,...,...,...,...,...
238394,2565,20.0,1.0,2565-04-05 00:00:00,ลำพูน,ไม่ระบุพาหนะ
238395,2565,66.0,1.0,2565-07-20 00:00:00,ฉะเชิงเทรา,รถบรรทุกขนาดเล็ก/รถตู้
238396,2565,70.0,2.0,2565-04-05 00:00:00,มหาสารคาม,รถจักรยานยนต์
238397,2565,65.0,1.0,2565-05-10 00:00:00,พังงา,รถจักรยานยนต์
238398,2565,71.0,1.0,2565-07-03 00:00:00,เลย,ไม่ระบุพาหนะ

In [2]:
df_1 = df[df["Age"] >= 1]
df_1

,DEAD_YEAR(Budha),Age,Sex,DeadDate,AccProv,Vehicle
0,2554,72.0,1.0,2554-07-13 00:00:00,อุดรธานี,คนเดินเท้า
1,2554,17.0,1.0,2554-01-22 00:00:00,ศรีสะเกษ,รถจักรยานยนต์
2,2554,44.0,1.0,2554-06-01 00:00:00,ชลบุรี,รถจักรยานยนต์
3,2554,43.0,1.0,2554-01-19 00:00:00,ชลบุรี,ไม่ระบุพาหนะ
4,2554,35.0,1.0,2554-08-16 00:00:00,ขอนแก่น,ไม่ระบุพาหนะ
...,...,...,...,...,...,...
238394,2565,20.0,1.0,2565-04-05 00:00:00,ลำพูน,ไม่ระบุพาหนะ
238395,2565,66.0,1.0,2565-07-20 00:00:00,ฉะเชิงเทรา,รถบรรทุกขนาดเล็ก/รถตู้
238396,2565,70.0,2.0,2565-04-05 00:00:00,มหาสารคาม,รถจักรยานยนต์
238397,2565,65.0,1.0,2565-05-10 00:00:00,พังงา,รถจักรยานยนต์
238398,2565,71.0,1.0,2565-07-03 00:00:00,เลย,ไม่ระบุพาหนะ

In [3]:
Age_Range = []
for row in df_1['Age']:
    if row >= 1.0 and row <= 3.0 :Age_Range.append('baby')
    elif row >= 4.0 and row <= 6.0 :Age_Range.append('child')
    elif row >= 7.0 and row <= 20.0 :Age_Range.append('teenage')
    elif row >= 21.0 and row <= 60.0 :Age_Range.append('worker')
    elif row >= 60.0 :Age_Range.append('elder')
df_1['Age_Range'] = Age_Range
df_1

C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\1828833626.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Age_Range'] = Age_Range

,DEAD_YEAR(Budha),Age,Sex,DeadDate,AccProv,Vehicle,Age_Range
0,2554,72.0,1.0,2554-07-13 00:00:00,อุดรธานี,คนเดินเท้า,elder
1,2554,17.0,1.0,2554-01-22 00:00:00,ศรีสะเกษ,รถจักรยานยนต์,teenage
2,2554,44.0,1.0,2554-06-01 00:00:00,ชลบุรี,รถจักรยานยนต์,worker
3,2554,43.0,1.0,2554-01-19 00:00:00,ชลบุรี,ไม่ระบุพาหนะ,worker
4,2554,35.0,1.0,2554-08-16 00:00:00,ขอนแก่น,ไม่ระบุพาหนะ,worker
...,...,...,...,...,...,...,...
238394,2565,20.0,1.0,2565-04-05 00:00:00,ลำพูน,ไม่ระบุพาหนะ,teenage
238395,2565,66.0,1.0,2565-07-20 00:00:00,ฉะเชิงเทรา,รถบรรทุกขนาดเล็ก/รถตู้,elder
238396,2565,70.0,2.0,2565-04-05 00:00:00,มหาสารคาม,รถจักรยานยนต์,elder
238397,2565,65.0,1.0,2565-05-10 00:00:00,พังงา,รถจักรยานยนต์,elder
238398,2565,71.0,1.0,2565-07-03 00:00:00,เลย,ไม่ระบุพาหนะ,elder

In [26]:
df_2 = df_1.dropna(subset=['DeadDate'])
df_2['DeadDate'].isna().sum()

0

In [27]:
df_2['AccProv'].isna().sum()
df_2['AccProv'] = df_2['AccProv'].drop(columns='ไม่ทราบจังหวัด')

C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\478944416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['AccProv'] = df_2['AccProv'].drop(columns='ไม่ทราบจังหวัด')

In [28]:
df_2

,DEAD_YEAR(Budha),Age,Sex,DeadDate,AccProv,Vehicle,Age_Range
0,2554,72.0,1.0,2554-07-13 00:00:00,อุดรธานี,คนเดินเท้า,elder
1,2554,17.0,1.0,2554-01-22 00:00:00,ศรีสะเกษ,รถจักรยานยนต์,teenage
2,2554,44.0,1.0,2554-06-01 00:00:00,ชลบุรี,รถจักรยานยนต์,worker
3,2554,43.0,1.0,2554-01-19 00:00:00,ชลบุรี,ไม่ระบุพาหนะ,worker
4,2554,35.0,1.0,2554-08-16 00:00:00,ขอนแก่น,ไม่ระบุพาหนะ,worker
...,...,...,...,...,...,...,...
238394,2565,20.0,1.0,2565-04-05 00:00:00,ลำพูน,ไม่ระบุพาหนะ,teenage
238395,2565,66.0,1.0,2565-07-20 00:00:00,ฉะเชิงเทรา,รถบรรทุกขนาดเล็ก/รถตู้,elder
238396,2565,70.0,2.0,2565-04-05 00:00:00,มหาสารคาม,รถจักรยานยนต์,elder
238397,2565,65.0,1.0,2565-05-10 00:00:00,พังงา,รถจักรยานยนต์,elder
238398,2565,71.0,1.0,2565-07-03 00:00:00,เลย,ไม่ระบุพาหนะ,elder

In [29]:
df_2['DeadDate'] = df_2['DeadDate'].astype(str)
Month = []
for row in df_2['DeadDate']:
    if '-01-'  in row :Month.append('1.January')
    elif '-02-'  in row :Month.append('2.February')
    elif '-03-'  in row :Month.append('3.March')
    elif '-04-'  in row :Month.append('4.April')
    elif '-05-'  in row :Month.append('5.May')
    elif '-06-'  in row :Month.append('6.June')
    elif '-07-'  in row :Month.append('7.July')
    elif '-08-'  in row :Month.append('8.August')
    elif '-09-'  in row :Month.append('9.September')
    elif '-10-'  in row :Month.append('10.October')
    elif '-11-'  in row :Month.append('11.November')
    elif '-12-'  in row :Month.append('12.December')
df_2['Month'] = Month

C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\2557539680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['DeadDate'] = df_2['DeadDate'].astype(str)
C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\2557539680.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Month'] = Month

In [30]:
df_2

,DEAD_YEAR(Budha),Age,Sex,DeadDate,AccProv,Vehicle,Age_Range,Month
0,2554,72.0,1.0,2554-07-13 00:00:00,อุดรธานี,คนเดินเท้า,elder,7.July
1,2554,17.0,1.0,2554-01-22 00:00:00,ศรีสะเกษ,รถจักรยานยนต์,teenage,1.January
2,2554,44.0,1.0,2554-06-01 00:00:00,ชลบุรี,รถจักรยานยนต์,worker,6.June
3,2554,43.0,1.0,2554-01-19 00:00:00,ชลบุรี,ไม่ระบุพาหนะ,worker,1.January
4,2554,35.0,1.0,2554-08-16 00:00:00,ขอนแก่น,ไม่ระบุพาหนะ,worker,8.August
...,...,...,...,...,...,...,...,...
238394,2565,20.0,1.0,2565-04-05 00:00:00,ลำพูน,ไม่ระบุพาหนะ,teenage,4.April
238395,2565,66.0,1.0,2565-07-20 00:00:00,ฉะเชิงเทรา,รถบรรทุกขนาดเล็ก/รถตู้,elder,7.July
238396,2565,70.0,2.0,2565-04-05 00:00:00,มหาสารคาม,รถจักรยานยนต์,elder,4.April
238397,2565,65.0,1.0,2565-05-10 00:00:00,พังงา,รถจักรยานยนต์,elder,5.May
238398,2565,71.0,1.0,2565-07-03 00:00:00,เลย,ไม่ระบุพาหนะ,elder,7.July

In [31]:
df_2['Sex'] = df_2['Sex'].replace([0.0 , 1.0 , 2.0 , 3.0],['Not Specified' , 'Male','Female','Not Specified'])
df_2['Sex'] = df_2['Sex'].fillna('Not Specified')
quantity = df_2.groupby(['DEAD_YEAR(Budha)','Sex','Vehicle','AccProv','Age_Range','Month']).size().reset_index(name='counts')
quantity

C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\1094995085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Sex'] = df_2['Sex'].replace([0.0 , 1.0 , 2.0 , 3.0],['Not Specified' , 'Male','Female','Not Specified'])
C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\1094995085.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Sex'] = df_2['Sex'].fillna('Not Specified')

,DEAD_YEAR(Budha),Sex,Vehicle,AccProv,Age_Range,Month,counts
0,2554,Female,คนเดินเท้า,กระบี่,elder,7.July,1
1,2554,Female,คนเดินเท้า,กระบี่,worker,11.November,1
2,2554,Female,คนเดินเท้า,กรุงเทพมหานคร,elder,12.December,1
3,2554,Female,คนเดินเท้า,กรุงเทพมหานคร,worker,1.January,2
4,2554,Female,คนเดินเท้า,กรุงเทพมหานคร,worker,11.November,1
...,...,...,...,...,...,...,...
92064,2565,Not Specified,ไม่ระบุพาหนะ,นครปฐม,worker,1.January,1
92065,2565,Not Specified,ไม่ระบุพาหนะ,นครสวรรค์,worker,5.May,1
92066,2565,Not Specified,ไม่ระบุพาหนะ,ภูเก็ต,worker,8.August,1
92067,2565,Not Specified,ไม่ระบุพาหนะ,สงขลา,worker,7.July,1
92068,2565,Not Specified,ไม่ระบุพาหนะ,เชียงใหม่,baby,3.March,1

In [45]:
df_2['AccProv'] = df_2['AccProv'].replace('ไม่ทราบจังหวัด','กรุงเทพมหานคร')

C:\Users\CHANA_PC\AppData\Local\Temp\ipykernel_12036\3850076369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['AccProv'] = df_2['AccProv'].replace('ไม่ทราบจังหวัด','กรุงเทพมหานคร')

In [62]:
map = df_2.groupby(['DEAD_YEAR(Budha)','AccProv']).size().reset_index(name='counts')
map

     DEAD_YEAR(Budha)        AccProv  counts
0                2554         กระบี่     140
1                2554  กรุงเทพมหานคร     191
2                2554      กาญจนบุรี     182
3                2554      กาฬสินธุ์      90
4                2554      กำแพงเพชร     204
..                ...            ...     ...
919              2565       เพชรบุรี     123
920              2565      เพชรบูรณ์     218
921              2565            เลย     155
922              2565           แพร่      95
923              2565     แม่ฮ่องสอน      47

[924 rows x 3 columns]

In [63]:
ColorMap = []
for row in map['counts']:
    if row > 0 and row < 500  :ColorMap.append('green')
    elif row >= 500 and row < 1000 :ColorMap.append('yellow')
    elif row >= 1000  :ColorMap.append('red')
map['ColorMap'] = ColorMap

In [64]:
map

     DEAD_YEAR(Budha)        AccProv  counts ColorMap
0                2554         กระบี่     140    green
1                2554  กรุงเทพมหานคร     191    green
2                2554      กาญจนบุรี     182    green
3                2554      กาฬสินธุ์      90    green
4                2554      กำแพงเพชร     204    green
..                ...            ...     ...      ...
919              2565       เพชรบุรี     123    green
920              2565      เพชรบูรณ์     218    green
921              2565            เลย     155    green
922              2565           แพร่      95    green
923              2565     แม่ฮ่องสอน      47    green

[924 rows x 4 columns]

In [65]:
map_1 = map[map["DEAD_YEAR(Budha)"] == 2554]

In [67]:
map_1

    DEAD_YEAR(Budha)        AccProv  counts ColorMap
0               2554         กระบี่     140    green
1               2554  กรุงเทพมหานคร     191    green
2               2554      กาญจนบุรี     182    green
3               2554      กาฬสินธุ์      90    green
4               2554      กำแพงเพชร     204    green
..               ...            ...     ...      ...
72              2554       เพชรบุรี     129    green
73              2554      เพชรบูรณ์     316    green
74              2554            เลย     116    green
75              2554           แพร่     123    green
76              2554     แม่ฮ่องสอน      19    green

[77 rows x 4 columns]